/* Reset default browser styles */
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', BlinkMacSystemFont, sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
    color: #fff;
}

/* Gradient background animation */
body {
    background: linear-gradient(135deg, #1a1a2e, #16213e, #0f3460, #53354a);
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }
    50% {
        background-position: 100% 100%;
    }
    100% {
        background-position: 0% 0%;
    }
}

/* Common container styles */
.container {
    color: #fff;
    background: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 0 0.5rem #fff, 0 0 0.5rem #fff, 0 0 2rem #1F51FF, 0 0 1rem #1F51FF, 0 0 3rem #1F51FF, inset 0 0 1.5rem #1F51FF;
    margin-top: 20px;
    margin-bottom: 20px;
    outline: 2px solid #fff;
}

/* Heading styles */
h1 {
    color: #ff4c4c;
    font-size: 24px;
    margin-bottom: 15px;
}

/* Textarea styles */
.centered-textarea {
    color: #fff;
    background-color: #333;
    width: 100%;
    min-height: 150px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #00ffff;
    border-radius: 5px;
    resize: none;
}

/* Button styles */
.btn-primary {
    background-color: #00ff00;
    border: 1px solid #007bff;
    color: #1a1a2e;
    transition: background-color 0.3s ease, border-color 0.3s ease;
    width: 100%;
}

.btn-primary:hover {
    background-color: #76d674;
    border: 1px solid #0056b3;
}

/* Footer styles */
.footer {
    background-color: #0f3460;
    padding: 10px;
    text-align: center;
    font-size: 16px;
    color: #fff;
    margin-top: 50px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footer p {
    margin: 0;
    display: inline-block;
    margin-right: 30px;
}

/* Checkbox styles */
.form-check input[type="checkbox"] {
    color: #fff;
    margin-right: 10px;
}

.form-check-label {
    font-size: 14px;
    display: flex;
    align-items: center;
    padding: 22px;
}

/* Media query for smaller screens */
@media (max-width: 576px) {
    .form-check-label {
        font-size: 12px;
    }
}

/* Video styles */
video {
    width: 100%;
    border: 2px solid #00ffff;
    border-radius: 10px;
}

/* Additional styling for input fields */
input[type="text"] {
    color: #fff;
    background-color: #333;
    border: 1px solid #00ffff;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
}

/* Dropdown menu styles */
.navbar-nav .dropdown-menu {
    background-color: #1a1a2e;
}

.navbar-nav .dropdown-item {
    color: #fff;
}

.navbar-nav .dropdown-item:hover {
    background-color: #333;
    color: #00ffff;
}

/* Navbar styles */
.navbar {
    background-color: #16213e;
}

.navbar-brand, .nav-link {
    color: #fff !important;
}

.nav-link:hover {
    color: #00ffff !important;
}

/* Checkbox label color */
input[type="checkbox"] + label {
    color: #fff;
}
