body {
    font-family: 'Poppins', sans-serif;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
}

.navbar {
    background-color: #007bff;
}

.navbar-brand, .nav-link {
    color: white !important;
}

.container h1 {
    margin-top: 20px;
    font-weight: 600;
    color: #343a40;
}

.form-control {
    border: 2px solid #007bff;
}

.centered-textarea {
    height: 200px;
    resize: none;
    text-align: center;
}

.center-placeholder::placeholder {
    text-align: center;
}

footer {
    background-color: #007bff;
    color: white;
    text-align: center;
    padding: 10px 0;
}

.form-check-label.disable {
    color: #6c757d;
    text-decoration: line-through;
}

.form-check {
    cursor: pointer;
    margin-bottom: 10px;
}

.form-check-input:checked + .form-check-label {
    color: #6c757d;
    text-decoration: line-through;
}

.wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.wrapper .display {
    font-size: 2em;
    font-weight: bold;
}

.glow-border {
    border: 5px solid;
    border-image: linear-gradient(45deg, red, blue, green, yellow) 1;
    border-radius: 10px;
    padding: 5px;
    animation: glow 1.5s infinite alternate;
}

@keyframes glow {
    0% {
        box-shadow: 0 0 10px red;
    }
    50% {
        box-shadow: 0 0 20px blue;
    }
    100% {
        box-shadow: 0 0 10px green;
    }
}

#background-music {
    display: none;
}

.footer {
    background-color: #343a40;
    color: white;
    padding: 10px 0;
    text-align: center;
}

.footer p {
    margin: 0;
}

video {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 10px;
}

img {
    display: block;
    margin: 0 auto;
    border-radius: 50%;
}

a img {
    width: 30px;
    height: 30px;
    margin-right: 10px;
}
